<div id="banner">
    <a href="/admin_applications">
       <div id="logo"> 

        </div>
    </a>
    <div id="nav">
        <ul> 
            <a href="/admin_applications"><li>Home</li></a>
            <a href="/logout"> <li>Logout </li></a>
        </ul>
    </div>
</div>