<div id="banner">
  
    <a href="/volunteer/home">
       <div id="logo"> 

        </div>
    </a>

    <div id="nav">
        <ul> 
            <a class="banner-btn" href="/volunteer/home"><li>Home</li></a>
            <a class="banner-btn" href="/volunteer/training"><li>Training/Resources</li></a>
            <a class="banner-btn" href="/logout"><li>Logout</li></a>
        </ul>
    </div>

</div>