<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <link href="/kiva_style.css" rel="stylesheet" type="text/css">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


    <title>Submit an Application</title>
    <script>
     

    var load_review = function() {
        $.getJSON('/volunteer/load', function(volunteer) {
            console.log("loading volunteer...");
            console.log(volunteer);
            if(volunteer.current_review == null) {
                console.log("generate a new review for them");
                //pulls new review  
                $.getJSON('/volunteer/get_min_reviewed_application', function(data) {
                    console.log("does it reach here");
                    console.log(data);
                    if(data.data !== "none") {
                            $('#review').append(
                                "<div id='review-display'>" +
                                //"<a href='" + data["organization_url"] + "'>" + data[organization_name] + "</a>" +

                                "<p><h2>" + data["organization_name"] + "</h2></p>" +
                                "<p>" + data["description"] + "</p>" +
                                "<a href='" + data["organization_url"] + "' id='homepage-button' class='btn btn-primary'>Homepage</a>" + 
                                "<p><h4>Reviews to date: " + data["num_reviews"] + "</h4></p>" +
                                "<p><h2>Help get this application on track!</h2><p>" +
                                "<form method='POST' action='/review/create/" + data["_id"] + "'>" + 
                                "<input type='submit' id='review-button' class='btn btn-primary' value='Create Review'>" + 
                                "</form>" +
                                "</div>"
                                );
                    } else {
                          $('#review').append(
                             "<p> There are currently no reviews for you to complete. </p>"
                             )
                    }
                });
            } else {
                console.log("current review: " + volunteer.current_review);
                $('#review').append(
                    "<p> You have one review pending. </p>" +
                    "<a href='/review/edit/" + volunteer.current_review + "''>" +
                    "Complete Review</a>" + 
                    "</div>"
                     );
             };
         });
     };

/*
                //pulls old review
                $.getJSON('/volunteer/load_unfinished_review', function(data) {
                    console.log("does it reach here");
                    console.log(data);
                    if(data.data !== "none") {

                            //TODO: load information of the pending review?
                            $('#review').append(
                                //"<p> You have one review pending. </p>" +
                                "<div id='review-display'>" +
                                "<p>" + "<h2>" + data["organization_name"] + "</h2>" + "</p>" +
                                "<p>" + data["description"] + "</p>" +
                                "<a href='" + data["organization_url"] + "'  id='homepage-button' class='btn btn-primary'>Homepage</a>" + 
                                "<p>" + "<h4>" + "Reviews to date: " + data["num_reviews"] + "</h4>" + "</p>" +
                                "<p><h2>Keep up the good work!</h2><p>" +
                                "<a href='/review/edit/" + volunteer.current_review + "' id='review-button' class='btn btn-primary'>Complete Review</a>" +
                                //"</div>"
                                "</div>"
                                );
                    }
                });
            }
        });
    };*/
    var load_completed_apps = function() {
        $.getJSON('/volunteer/get_completed_applications', function(completed_apps) {
            $('#completed-table table').append("<tr>" + 
                "<th>" + "Organization" + "</th>" +
                "<th>" + "Status" + "</th>" +
                "<th>" + "Date Started" + "</th>" +
                "<th>" + "Date Submitted" + "</th>" +
                "</tr>");
            $.each(completed_apps, function(index, value) {
                $.getJSON("/review/organization_data/" + value.organization_id, function(organization) {  
                    var start = new Date(value.date_review_started);
                    var submitted = new Date(value.date_review_submitted);
                    $('#completed-table table').append("<tr>" + 
                        "<td>" + organization.organization_name + "</td>" +
                        "<td>" + "Status" + "</td>" +
                        "<td>" + start.toLocaleDateString() + "</td>" +
                        "<td>" + submitted.toLocaleDateString() + "</td>" +
                        "</tr>");
                });
            });
        }); 
    }


    $( document ).ready(function() {
        $.getJSON('/volunteer/load', function(volunteer) {
            if (!volunteer.finished_training) {
                console.log('get training first.');
                $('#training').append($('<a>')
                                        .attr('href', '/volunteer/training')
                                        .html('Get training first'));
            }
            else {
                console.log('finished training is true');
                load_review();
                load_completed_apps();
            }
        });
    });

    </script>

  </head>

<body>
    <% include banner %>   

    <style>
        h2, h4{
            text-align: center;
            margin: 5;
            /*color: green;*/
        }
    </style>

    <h2>Welcome, username!</h2>

    <div id="training"></div>
    <div class="row">
        <div id="review" class="col-md-6"></div>
        <div id="completed-table" class="col-md-6"><table class='table table-striped'></table></div>
    </div>

    <% include footer %>   


  </body>


  </html>