<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

     <link href="" rel="stylesheet" type="text/css">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <title>Submit an Application</title>
    <script>
     

    var load_review = function() {
        $.getJSON('/volunteer/load', function(volunteer) {
            console.log(volunteer);
            if(volunteer.current_review == null) {
                console.log("generate a new review for them");
                //pulls new review  
                $.getJSON('/volunteer/get_min_reviewed_application', function(review) {
                    console.log('review pulled');
                    $('#review').append(
                        "<p>" + review["organization_name"] + "</p>" +
                        "<p>" + review["num_reviews"] + "</p>" +
                        "<p>" + review["organization_url"] + "</p>" +
                        "<p>" + review["description"] + "</p>" + 
                        "<form method='POST' action='/review/create/" + review["_id"] + "'>" + 
                        "<input type=submit value='Create Review'>" + 
                        "</form>"
                        );
                });
            } else {
                console.log("generate old review");
                console.log(volunteer.current_review);
                //TODO: load information of the pending review?
                $('#review').append(
                        "<p> You have one review pending. </p>" + 
                        "<a href='/review/edit/" + volunteer.current_review + "'>" +
                        "Complete Review </a>"
                );
            }
        });
    };


    $( document ).ready(function() {
        var review_info = load_review();
    });

    </script>

  </head>

  <body>
   
    Volunteer Home Portal

    <div id="review">
    </div>


</div>

  </body>


  </html>