<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

     <link href="" rel="stylesheet" type="text/css">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <title>Login</title>
    <script>
            
    </script>

  </head>

  <body>
   
<div id="form">
  <center>
  <h1>Kiva Volunteer Beta</h1>
   <h2> Login </h2>
    <form action="/login" method="POST">
    <input type="text" name="email_address" size="25" class="form-control" placeholder="Email"><br>

    <input type="password" name="password" size="25" class="form-control" placeholder="Password"><br>

    <input type="submit" value="Login" />

  </form>

  <form action="/volunteer/sign-up" method="GET">
    <input type="submit" value="Sign Up to Volunteer"/>
  </form>

  <form action="/admin/sign-up" method="GET">
    <input type="submit" value="Admins Only"/>
  </form>

</div>
</center>
  </body>


  </html>