<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link href="/kiva_style.css" rel="stylesheet" type="text/css">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <title>Login</title>
    </head>

    <body>
        <% include banner %>
        <div id="wrapper">
        <!-- <div id="content"> -->

            <p><div id="blurb"></p>
                <h2> Welcome to the Crowd Vetting Pilot Program! </h2>
		<p>
			Kiva Corps are experience graduate students and professionals who believe there are many investment worthy social enterprises that fall in the missing middle - too large for microfinance yet too small for commercial banking suffer from lack of access to capital.</br>
			Our thesis is not only that crowdfunding can serve as the solution to this crucial financing problem, but that the crowd can also help us identify the right investments. Because Kiva believes in the power of our community and the crowd, we want to democratize our due diligence process. This is where crowd-vetting and Kiva Corps come in.<br/><br/>
			Kiva wants YOU to join our Kiva Corps to vet social enterprises..
		</p>
            </div>

            <div id="form">
                <h2>Login</h2>
                <form action="/login" method="POST" class="kiva-form">
                    <% if (message) { %>
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span><%= message %></span>
                    </div>
                    <% } %>
                    <input type="email" name="email_address" size="25" class="form-control" placeholder="Email" required>
                    <input type="password" name="password" size="25" class="form-control" placeholder="Password" required><br>
                    <input type="submit" class="btn btn-primary" value="Login" />
                </form>

                <form action="/volunteer/sign-up" method="GET">
                    <input type="submit" class="btn btn-primary" value="Sign Up to Volunteer"/>
                </form>
            </div>
        </div>

        <% include footer %>

        <!-- </div> -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('.banner-btn').hide();
            });
        </script>
    </body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>
