<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href="/kiva_style.css" rel="stylesheet" type="text/css">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="sorttable.js"></script>

    <title>Submit an Application</title>
    <script>
      
        <% $.getJSON( "/admin/pull_applications", function( data ) {
           $.each(data, function(value)){
            console.log(value);
          }     

        }); %>

    </script>



  </head>

  <body>
 


  <div id="applications">
  <table style="width:100%" class = "sortable">
  <tr>
    <th>Name</td>
    <th>Avg. Rating</td>
    <th>Kiva Fit</td>
    <th>Business Model</td>
    <th>Social Impact</td>    
    <th>Reviews Submitted</td>   
    <th>Open to review</td> 
  </tr>



   </table>



  </body>


  </html>