<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

     <link href="" rel="stylesheet" type="text/css">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <title>Submit an Application</title>
    <script>
      
      

    </script>



  </head>

  <body>


    <div id="applications">

    <% applications.forEach(function(application){ %>
        <div class="application" id= <%= application._id %> >
            <p> <%= application.organization_name %> </p>
            <p> <%= application.reviews_in_progress.length %> open reviews </p>
            <p> <%= application._id %> </p>
        </div>
    <% }) %>

    </div>

  </body>


  </html>