<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href="/kiva_style.css" rel="stylesheet" type="text/css">
    <link href="/tabs_style.css" rel="stylesheet" type="text/css">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


    <script src="sorttable.js" type="text/javascript"></script>


    <title>Submit an Application</title>
  </head> 



  <body onload="init()">  
    <ul id="tabs">
  <li><a href="#apps">Applications</a></li>
  <li><a href="#volunteers">Volunteers</a></li>

</ul>
    <div class="tabContent" id="apps">
  <h2>Application Dashboard</h2>
  <div>
    <p>Here is the application dashboard</p>
    <table border = "1" style="width:100%"  id="appsTable" >
        <tr>
          <th>Name</td>
          <th>Avg. Rating</td>
          <th>Kiva Fit</td>
          <th>Business Model</td>
          <th>Social Impact</td>    
          <th>Number of reviews</td>   
          <th>Open to review</td> 
        </tr>
      </table>
  </div>
</div>

<div class="tabContent" id="volunteers">
  <h2>Volunteer Dashboard</h2>
  <div>
    <p>Here is the volunteer dashboard</p>

  </div>
</div>


  <!--
    <div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Tab #1</a></li>
        <li><a href="#tab2">Tab #2</a></li>
        <li><a href="#tab3">Tab #3</a></li>
        <li><a href="#tab4">Tab #4</a></li>
    </ul>
 
    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p>Tab #1 content goes here!</p>
            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis.</p>
            <table border = "1" style="width:100%"  id="appsTable" >
        <tr>
          <th>Name</td>
          <th>Avg. Rating</td>
          <th>Kiva Fit</td>
          <th>Business Model</td>
          <th>Social Impact</td>    
          <th>Number of reviews</td>   
          <th>Open to review</td> 
        </tr>
      </table>
        </div>
 
        <div id="tab2" class="tab">
            <p>Tab #2 content goes here!</p>
            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
        </div>
 
        <div id="tab3" class="tab">
            <p>Tab #3 content goes here!</p>
            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum ri.</p>
        </div>
 
        <div id="tab4" class="tab">
            <p>Tab #4 content goes here!</p>
            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
        </div>
    </div>
</div>







 
</div>
      <table border = "1" style="width:100%"  id="appsTable" >
        <tr>
          <th>Name</td>
          <th>Avg. Rating</td>
          <th>Kiva Fit</td>
          <th>Business Model</td>
          <th>Social Impact</td>    
          <th>Number of reviews</td>   
          <th>Open to review</td> 
        </tr>
      </table>

--> 
  </body>

      <script>
      var load_apps = function() {
         $.getJSON( "/admin/pull_applications", function( data ) {
          var rows = '';
          var table = document.getElementById("appsTable");
           $.each(data, function(index, value){
            var row = '<tr>';
            row += '<td>' + value["organization_name" ] + '</td>';
            row += '<td>' + (value.num_reviews == 0 ? "No reviews yet" : value.score_sum/(value.num_reviews)) + '</td>';
            row += '<td>' + value["kiva_fit_count" ] + '</td>';
            row += '<td>' + value["sustainable_model_count" ] + '</td>';
            row += '<td>' + value["clear_social_impact_count" ] + '</td>';
            row += '<td>' + value["num_reviews" ] + '</td>';
            row += '<td>' + value["open_to_review" ] + '</td>';
            rows += row + '<tr>';


           
       /*
          var row = table.insertRow(table.rows.length);
          var cellName = row.insertCell(0);
          var cellAvgRating = row.insertCell(1);
          var cellKivaFit = row.insertCell(2);
          var cellBusinessModel = row.insertCell(3);
          var cellSocialImpact= row.insertCell(4);
          var cellNumberOfReviews = row.insertCell(5);
          var cellOpenToReview = row.insertCell(6);

          cellName.innerHTML = value.organization_name;
          cellAvgRating.innerHTML = value.num_reviews == 0 ? "No reviews yet" : value.score_sum/(value.num_reviews);
          cellKivaFit.innerHTML = value.kiva_fit_count;
          cellBusinessModel.innerHTML = value.sustainable_model_count;
          cellSocialImpact.innerHTML = value.clear_social_impact_count;
          cellNumberOfReviews.innerHTML = value.num_reviews;
          cellOpenToReview.innerHTML = value.open_to_review;
          */

          });     
          $(table).append(rows);
        }); 
      };


      $( document ).ready(function() {
        load_apps();  
        var table = document.getElementById("appsTable");
        sorttable.makeSortable(table);
      });     

    </script>
    <script type="text/javascript">
    

    var tabLinks = new Array();
    var contentDivs = new Array();

    function init() {

      // Grab the tab links and content divs from the page
      var tabListItems = document.getElementById('tabs').childNodes;
      for ( var i = 0; i < tabListItems.length; i++ ) {
        if ( tabListItems[i].nodeName == "LI" ) {
          var tabLink = getFirstChildWithTagName( tabListItems[i], 'A' );
          var id = getHash( tabLink.getAttribute('href') );
          tabLinks[id] = tabLink;
          contentDivs[id] = document.getElementById( id );
        }
      }

      // Assign onclick events to the tab links, and
      // highlight the first tab
      var i = 0;

      for ( var id in tabLinks ) {
        tabLinks[id].onclick = showTab;
        tabLinks[id].onfocus = function() { this.blur() };
        if ( i == 0 ) tabLinks[id].className = 'selected';
        i++;
      }

      // Hide all content divs except the first
      var i = 0;

      for ( var id in contentDivs ) {
        if ( i != 0 ) contentDivs[id].className = 'tabContent hide';
        i++;
      }
    }

    function showTab() {
      var selectedId = getHash( this.getAttribute('href') );

      // Highlight the selected tab, and dim all others.
      // Also show the selected content div, and hide all others.
      for ( var id in contentDivs ) {
        if ( id == selectedId ) {
          tabLinks[id].className = 'selected';
          contentDivs[id].className = 'tabContent';
        } else {
          tabLinks[id].className = '';
          contentDivs[id].className = 'tabContent hide';
        }
      }

      // Stop the browser following the link
      return false;
    }

    function getFirstChildWithTagName( element, tagName ) {
      for ( var i = 0; i < element.childNodes.length; i++ ) {
        if ( element.childNodes[i].nodeName == tagName ) return element.childNodes[i];
      }
    }

    function getHash( url ) {
      var hashPos = url.lastIndexOf ( '#' );
      return url.substring( hashPos + 1 );
    }

    </script>

  </html>