<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/kiva_style.css" rel="stylesheet" type="text/css">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

        <title>Submit an Application</title>
    
    </head>

    <body>
        <div id="applicant documents">
        </div>

        <div id="left">
            <div class="dropdown">
                <h2>Organizaton name</h2>
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li class="document" role="presentation"><a role="menuitem" tabindex="-1" link="https://docs.google.com/a/seas.upenn.edu/file/d/0B8Qgkyip5NRDSG82Ylk3MUdhU1U/edit">Doc 1</a></li>
                    <li class = document role="presentation"><a role="menuitem" tabindex="-1" link="https://docs.google.com/a/seas.upenn.edu/file/d/0B8Qgkyip5NRDUkhEM1I0Zm1ZaUU/edit">Doc 2</a></li>
                    <li class = document role="presentation"><a role="menuitem" tabindex="-1" link="https://docs.google.com/a/seas.upenn.edu/file/d/0B8Qgkyip5NRDWkNDcGVxUXVQVVk/edit">Doc 3</a></li>
                </ul>
            </div>
            <iframe id="doc" src ="https://docs.google.com/a/seas.upenn.edu/file/d/0B8Qgkyip5NRDSG82Ylk3MUdhU1U/edit"></iframe>

        </div>

        <div id="right">
        <div id="review-form">

            <form id="review" action="" method="POST">
                

                <label for="clear_social_impact"> Does this company have a clear social impact? </label>
                <input type="radio" name="clear_social_impact" value=true class="form-control">Yes
                <input type="radio" name="clear_social_impact" value=false class="form-control">No
                <br />

                <label for="sustainable_model"> Is there a clear savings/revenue model to repay the loan? </label>            
               <input type="radio" name="sustainable_model" value=true size="20" class="form-control">Yes
                <input type="radio" name="sustainable_model" value=false size="20" class="form-control">No
                <br />



                <label for="kiva_fit"> Is there a good fit with the Kiva model? </label>
               <input type="radio" name="kiva_fit" value=true size="20" class="form-control">Yes
                <input type="radio" name="kiva_fit" value=false size="20" class="form-control">No
                <br />


                <label for="kiva_fit_comments"> If not a good fit, why? </label>
                <input type="text" id="kiva_fit_comments" name="kiva_fit_comments" size="20" class="form-control" placeholder=""><br>

                <p> Please list the top three questions you would want to ask about to determine this candidate's eligibility and fit for a Kiva loan? </p>

                <label for="q_1"> Q1) </label>
                <input type="text" id="q_1" name="q_1" size="20" class="form-control" placeholder=""><br>


                <label for="q_2"> Q2) </label>
                <input id="q_2" name="q_2" type="text"  size="20" class="form-control" placeholder=""><br>

                <label for="q_3"> Q3) </label>
                <input type="text" id="q_3" name="q_3" size="20" class="form-control" placeholder=""><br>


                <label for="recommend_rating"> How excited would you be to recommend this application for the next stage in the approval process? </label>
                <input type="radio" name="recommend_rating" value=1 size="20" class="form-control">1
                <input type="radio" name="recommend_rating" value=2 size="20" class="form-control">2
                <input type="radio" name="recommend_rating" value=3 size="20" class="form-control">3
                <input type="radio" name="recommend_rating" value=4 size="20" class="form-control" >4
                <input type="radio" name="recommend_rating" value=5 size="20" class="form-control">5
                <br>

                <label for="other_comments"> Any other comments or concerns you wish to address? </label>
                <input type="text" id="other_comments" name="other_comments" size="20" class="form-control" placeholder=""><br>

                <input type="hidden" name="organization_id" id="organization_id">

                <input type="button" value="Save" name="save_review" onclick="askForSave()" />
                <input type="button" value="Submit" name="submit_review" onclick="askForSubmit()" />
                <input type="button" value="Something else" name="submit_review" onclick="myFunction()" />


            </form>
          </div>
      </div>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
        <script>
            <!---- //stackoverflow.com/questions/16660734/html-form-with-multiple-actions ---!>
            var form=document.getElementById("review");
            function askForSave() {
                form.action='<%= "/review/save/" + review_id %>';
                form.submit();
            };
            function askForSubmit() {
                form.action='<%= "/review/submit/" + review_id %>';
                form.submit();
            };

            function load_review() {
                     var form=document.getElementById("review");
                     $.getJSON('<%= "/review/load/" + review_id %>', function(review) {   $.each(review, function(name, val) {
                                    console.log(name + ":" + val);
                                    switch(name)
                                    {
                                        case ("clear_social_impact"):
                                        case ("kiva_fit"):
                                        case("sustainable_model"):  
                                            var i = val ? 0 : 1;                                        
                                            $('input[name=' + name + ']:nth(' + i + ')').attr('checked', true);
                                            break;
                                        case ("recommend_rating"):
                                            $('input[name=' + name + ']:nth('+ (val-1) + ')').attr('checked', true);
                                            break;
                                        default:
                                            $("#" + name).val(val);
                                            break;
                                    }
                            });
                     });
            };

            function dropdown() {
                $('.document > a').click(function(){
                    $('#doc').attr('src', $(this).attr('link'))
                });
            }

            $( document ).ready(function() {
                load_review();
                dropdown();
             });


        </script>
</html>