<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/kiva_style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

        <title>Thanks for completing your review!</title>
    
    </head>

    <style>
        h1{
            text-align: center;
            margin: 5;
            color: LimeGreen;
        }
        h2, h4{
            text-align: center;
            margin: 5;
            color: green;
        }
    </style>

    <body>
        <% include banner %>   

        <h2>Thanks for reviewing! Just one more step...</h2>

        <div id="data" class="col-md-6"></div>

        <div id="completed-table" class="col-md-6"><table class='table table-striped'></table></div>

        <% include footer %>
    </body>

<script>
    var org_id = "<%= org_id %>";
    console.log(org_id);

    var load_page = function() {
        load_completed_review();
        load_org_info();
   }

   //would like to refactor later
   var load_org_info = function() {
    $.getJSON("/load_application/" + org_id, function(application) {
        $('#data').append(
                    "<div id='average-reviews'>" + 
                    "<p>" +  application.kiva_fit_count + " out of " + application.num_reviews + " thought " + application.organization_name + " fit in with Kiva's culture. </p>" + 

                    "<p>" +  application.sustainable_model_count + " out of " + application.num_reviews + " thought " + application.organization_name + " has a sustainable business model. </p>" + 

                    "<p>" +  application.clear_social_impact_count + " out of " + application.num_reviews + " thought " + application.organization_name + " has a clear social impact. </p>" + 

                    "<p> Average rating was: " + (application.score_sum/application.num_reviews).toFixed(1) + " out of 5.0 </p>" +
                    "</div>"
                    );
    });
   };

    var load_completed_review = function() {
        $.getJSON('/review/completed/load/' + org_id, function(reviews) {
            $('#completed-table table').append("<tr>" + 
                "<th>" + "Clear Social Impact" + "</th>" +
                "<th>" + "Kiva Fit" + "</th>" +
                "<th>" + "Sustainable Business Model" + "</th>" +
                "<th>" + "Recommended Rating" + "</th>" +
                "</tr>");
             $.each(reviews, function(index, review) {
                console.log(review);
                $('#completed-table table').append("<tr>" + 
                    "<td>" + review["clear_social_impact"] + "</td>" +
                    "<td>" + review["kiva_fit"] + "</td>" +
                    "<td>" + review["sustainable_model"] + "</td>" +
                    "<td>" + review["recommend_rating"] + "</td>" +
                    "</tr>"
                    );

                 /*$('#reviews').append(
                    "<div id='individual-reviews'>" +
                    "<p> Clear Social Impact: " + review["clear_social_impact"] + "</p>" +
                    "<p> Kiva Fit: " + review["kiva_fit"] + "</p>" +
                    "<p> Sustainable Business Model: " + review["sustainable_model"] + "</p>" +
                    "<p> Recommended Rating: " + review["recommend_rating"] + "</p>" + 
                    + "</div>" +
                   "<br />"
                    );*/
            }); 
        });
    }



    $( document ).ready(function() {
        load_page();
    });

</script>
</html>