<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/kiva_style.css" rel="stylesheet" type="text/css">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <title>Thanks for reviewing!</title>
    </head>

    <style>
        h1{
            text-align: center;
            margin: 5;
            color: LimeGreen;
        }
        h2, h4{
            text-align: center;
            margin: 5;
            color: green;
        }
    </style>

    <body>
	<% include banner %>
        <h2>Thanks for reviewing! Just one more step...</h2>

                <p><div id="data" >
			We would like to know the 3 most important questions the community wants to ask the borrower. Please head to the shared Google folder linked here, and read the Instructions to get started.<br/>
			<a href="https://drive.google.com/folderview?id=0B9RMRkBs3hlXQ3ZmMjVFeHpLbjA&usp=sharing" target=_blank>Community Folder</a>
		</div></p>
                <br></br>

    </body>

    <script>
        var checkboxes = [];
        var org_id = "<%= org_id %>";

        var load_page = function() {
            load_org_info();
            load_questions();
            press_submit();
        }

        var load_questions = function() {
            $.getJSON('/get_questions/' + org_id, function(questions) {
                $.each(questions, function(index, question) {
                    $('<div class="checkbox">' + '<label>' + '<input type="checkbox" name="box[' + question['_id'] + ']">' + question['question_text'] + '</label>' + '</div>').insertBefore('#question-submit');
                    checkboxes = $("input[type='checkbox']"); 
                    checkboxes.click(function() {
                        if (checkboxes.filter(":checked").length > 3)
                            $(this).removeAttr("checked");
                    });
                }); 
            });
        }

        var press_submit = function() {
            $('form').submit(function() {
                if (checkboxes.filter(":checked").length != 3) {
                alert("You must select 3 questions");
                return false;
            }
            return true;
            });
        }

        $( document ).ready(function() {
            load_page();
        });

    </script>
</html>
