<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/kiva_style.css" rel="stylesheet" type="text/css">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

        <title>Submit an Application</title>

    </head>

    <body>
        <% include banner %>
        <div style="margin:1em" id="review-info">
          <ul id="gdocs-file-list"></ul>
        </div>

        <div id="review-form">
            <form id="review" action="<%= "/review/submit/" + review_id %>" method="POST">
                <label for="clear_business_model"> Does the business model make sense? </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="clear_business_model" value=true>
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="clear_business_model" value=false>
                        No
                    </label>
                </div>
                <br />
                <label for="clear_social_impact"> Does the social impact model make sense? </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="clear_social_impact" value=true>
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="clear_social_impact" value=false>
                        No
                    </label>
                </div>
                <br />
                <label for="loan_well_structured"> Based on the loan use, is the loan appropriately structured? </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="loan_well_structured" value=true size="20">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="loan_well_structured" value=false size="20">
                        No
                    </label>
                </div>
                <br />

                <label for="well_positioned_to_repay"> Do they have financial capacity to repay the loan? </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="well_positioned_to_repay" value=true size="20">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="well_positioned_to_repay" value=false size="20">
                        No
                    </label>
                </div>
                <br />

                <label for="well_positioned_to_communicate"> Do they have a strong ability communicate and market themselves? </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="well_positioned_to_communicate" value=true size="20">
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="well_positioned_to_communicate" value=false size="20">
                        No
                    </label>
                </div>
                <br />

                <label for="recommend_rating"> Would you, if you had the capital, give them the loan? </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="recommend_rating" value=1 size="20">
                        Strongly Recommend
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="recommend_rating" value=2 size="20">
                        Recommend
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" name="recommend_rating" value=3 size="20">
                        Not Recommend
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" name="recommend_rating" value=4 size="20">
                        Strongly Not Recommend
                    </label>
                </div>
                <br>

                <label> If you have other comments or questions, please visit the <a href="https://www.reddit.com/r/kivacrowdvetting">Reddit Page</a> </label><br/><br/>

                <input type="hidden" name="organization_id" id="organization_id">

                <a href="/volunteer/home" id="back-btn" class="btn btn-default" style="margin-right:25px;">Back</a>
                <a id="save-btn" class="btn btn-default">Save</a>
                <button id="submit-btn" class="btn btn-default" type="submit">Submit</button>
            </form>
      </div>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
    <script>
        function load_review() {
            var form=document.getElementById("review");
            $.getJSON('<%= "/review/load/" + review_id %>', function(review) {
                $.each(review, function(name, val) {
                    switch(name) {
                        case ("clear_business_model"):
                        case ("clear_social_impact"):
                        case ("loan_well_structured"):
                        case ("well_positioned_to_repay"):
                        case ("well_positioned_to_communicate"):
                        case ("recommend_rating"):
                            $('input[name=' + name + ']:nth('+ (val-1) + ')').attr('checked', true);
                            break;
                        default:
                            $("#" + name).val(val);
                            break;
                    }
                });
                load_links()
            });
        };

        function compareStrings(string_a, string_b){
          first_occurance=string_b.indexOf(string_a);

          if (first_occurance == -1) {
            return 0;
          } else {
            string_a_length = string_a.length;

            if( first_occurance == 0) {
              new_string = string_b.substring(string_a_length);
            } else {
              new_string = string_b.substring(0,first_occurance);
              new_string += string_b.substring(first_occurance+string_a_length);
            }
            return new_string;
          }
        }

        function load_links() {
          var responses = [];

          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/review/organization_docs/" + $('#organization_id').val(), true);
          xhr.onprogress = function () {

            var delta = responses[responses.length - 1];
            var parse_string = xhr.responseText;

            if (delta !== undefined && delta.length > 0){
              console.log('...adding to compareStings');
              parse_string = compareStrings(delta, xhr.responseText);
            }

            var str_array = parse_string.slice(1, -1).split('}{');
            var html = '';

            str_array.forEach(function(st){
              data = JSON.parse('{' + st + '}');
              if (data.name !== undefined){
                html = '<li class="document"><a target="_blank" href="' +  data.link + '">' + data.name + '</a></li>';
                $('#gdocs-file-list').append(html);
              }
            });

            responses.push(xhr.responseText);
          };
          xhr.send();
        };

        $( document ).ready(function() {
            load_review();
            $('#save-btn').click(function() {
                $.post('<%= "/review/save/" + review_id %>', $('#review').serialize(), function(data) {});
            });
            load_achievements();
        });

        var load_achievements = function() {
            $.getJSON('/volunteer/get_achievements', function(achievs) {
                $('#achievs table').append("<tr>" +
                    "<th>" + "Text" + "</th>" +
                    "<th>" + "Points" + "</th>" +
                    "<th>" + "Date" + "</th>" +
                    "</tr>");
                $.each(achievs, function(index, value) {
                    var date = new Date(value.date);
                    $('#achievs table').append("<tr>" +
                        "<td>" + value.achievement_text + "</td>" +
                        "<td>" + value.points + "</td>" +
                        "<td>" + date.toLocaleDateString() + "</td>" +
                        "</tr>");
                });
            });
        }

    </script>
</html>
