<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="" rel="stylesheet" type="text/css">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

        <title>Thanks for completing your review!</title>
    
    </head>

    <body>
        <div id="data">
        </div>

        <div id="reviews">
        </div>
    </body>

<script>
    var org_id = "<%= org_id %>";
    console.log(org_id);

    var load_page = function() {
        load_completed_review();
        load_org_info();
   }

   //would like to refactor later
   var load_org_info = function() {
    $.getJSON("/load_application/" + org_id, function(application) {
        $('#data').append(
                    "<p>" +  application.kiva_fit_count + " out of " + application.num_reviews + " thought " + application.organization_name + " fit in with Kiva's culture. </p>" + 

                    "<p>" +  application.sustainable_model_count + " out of " + application.num_reviews + " thought " + application.organization_name + " has a sustainable business model. </p>" + 

                    "<p>" +  application.clear_social_impact_count + " out of " + application.num_reviews + " thought " + application.organization_name + " has a clear social impact. </p>" + 

                    "<p> Average rating was: " + (application.score_sum/application.num_reviews).toFixed(1) + " out of 5.0 </p>" 
                    );
    });
   };

    var load_completed_review = function() {
        $.getJSON('/review/completed/load/' + org_id, function(reviews) {
             $.each(reviews, function(index, review) {
                console.log(review);
                 $('#reviews').append(
                    "<p> Clear Social Impact: " + review["clear_social_impact"] + "</p>" +
                    "<p> Kiva Fit: " + review["kiva_fit"] + "</p>" +
                    "<p> Sustainable Business Model: " + review["sustainable_model"] + "</p>" +
                    "<p> Recommended Rating: " + review["recommend_rating"] + "</p>" + 
                   "<br />"
                    );
            }); 
        });
    }
    $( document ).ready(function() {
        load_page();
    });

</script>
</html>