<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/kiva_style.css" rel="stylesheet" type="text/css">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.3/css/jquery.dataTables.css">

    <link href="/kiva_style.css" rel="stylesheet" type="text/css">


        <title>Organization details</title>
    
    </head>

<body>
    <% include admin_header %>  

        <div id="apps-form">
        <h3> Update organization information </h3>        
        <br />
                <form id="apps" action="" method="POST">
                <label for="shortlisted"> Short list application? (Be sure to hit submit below!) </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="shortlisted" value=true>
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="shortlisted" value=false>
                        No
                    </label>
                </div>
                <br />           

                <p id="click_for_questions"> Click this to see the most popular questions by reviewers. </p>

                <br />

                <div id=questions>
                      <h3>Reviewer Questions</h3>
                      <table id="questionsTable" class="display" cellspacing="0" width="100%">
                          <thead>
                              <tr>
                            <th>Question</td>
                            <th>Num Votes</td>
                              </tr>
                          </thead>
                       </table>
                </div>


             <label for="organization_name"> Org. Name </label>
                <input type="text" id="organization_name" name="organization_name" size="20" class="form-control" placeholder=""><br>
               
                <label for="description"> Description </label>
                <input type="text" id="description" name="description" size="20" class="form-control" placeholder=""><br>


                <label for="token"> Token </label>
                <input id="token" name="token" type="text"  size="20" class="form-control" placeholder=""><br>

                <label for="organization_address"> Address </label>
                <input type="text" id="organization_address" name="organization_address" size="20" class="form-control" placeholder=""><br>

                <label for="organization_url"> Org. URL </label>
                <input type="text" id="organization_url" name="organization_url" size="20" class="form-control" placeholder=""><br>   

                <label for="open_to_review"> Open to review? </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="open_to_review" value=true>
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="open_to_review" value=false>
                        No
                    </label>
                </div>
                <br />     
                <input type="button" value="Update" name="update_application" onclick="askForSave()" />
                <input type="button" value="Cancel" name="cancel_update" onclick="cancelGoBack()" />
            </form>
          </div>



      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
    <script type='text/javascript'>    
     
            function load_application() {
                     var form=document.getElementById("apps");
                     $.getJSON('<%= "/admin/load_application/" + app_id %>', function(application) {   $.each(application, function(name, val) {
                                    console.log(name + ":" + val);
                                    switch(name)
                                    {
                                        case ("shortlisted"): 
                                        case ("open_to_review"):
                                            var i = val ? 0 : 1;        
                                            $('input[name=' + name + ']:nth(' + i + ')').attr('checked', true);
                                            break;                                  
                                        default:
                                            $("#" + name).val(val);
                                            break;
                                    }
                            });
                     });
            };

          var load_questions = function() {
                $.getJSON( ' <%= "/get_questions/" + app_id %> ', function(data) {
                  console.log(data);
                  var table = document.getElementById("questionsTable");
                  console.log($(table));
                  console.log(jQuery.type(data));
                  var string = JSON.stringify(data);
                  var oTable = $(table).dataTable({
                    "data": data,  
                    "columns": [
                      { "data": "question_text" },
                      { "data": "votes" },
                    ], 
                    "order": [[ 1, "desc" ]]
                  });  
                });
              }; 

            function askForSave() {
                var form=document.getElementById("apps");
                form.action='<%= "/admin/update_application/" + app_id %>';
                form.submit();
            };
            function cancelGoBack() {
                var form=document.getElementById("apps");
                form.method ="GET";
                form.action='<%= "/admin_applications/" %>';
                form.submit();            
                
            };

            $( document ).ready(function() {

              $( "#click_for_questions" ).click(function() {
                $( "#questions" ).toggle( "slow", function() {
                  // Animation complete.
                });
              });

               load_application();
               load_questions();
             });


        </script>
</html>