<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/kiva_style.css" rel="stylesheet" type="text/css">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <!-- DataTables CSS -->

        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.3/css/jquery.dataTables.css">
        <link href="/kiva_style.css" rel="stylesheet" type="text/css">
        <title>Organization details</title>
    </head>

    <body>
        <% include admin_header %>  
        <div id="apps-form">
            <h3> Update organization information </h3>        
            <br />
            <form id="apps" action='<%= "/admin/update_application/" + app_id %>' method="POST">
                <label for="shortlisted"> Short list application? (Be sure to hit 'Update' below!) </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="shortlisted" value=true>
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="shortlisted" value=false>
                        No
                    </label>
                </div>
                <br />           

                <a id="click_for_questions"> Click this to see the most popular questions by reviewers. </a>

                <br /><br />

                <div id=questions>
                      <h4>Reviewer Questions</h4>
                      <table id="questionsTable" class="display" cellspacing="0" width="100%">
                          <thead>
                              <tr>
                            <th>Question</td>
                            <th>Num Votes</td>
                              </tr>
                          </thead>
                       </table>
                </div>


                <label for="organization_name"> Org. Name </label>
                <input type="text" id="organization_name" name="organization_name" size="20" class="form-control" placeholder=""><br>
               
                <label for="description"> Description </label>
                <input type="text" id="description" name="description" size="20" class="form-control" placeholder=""><br>

                <label for="organization_url"> Org. URL </label>
                <input type="text" id="organization_url" name="organization_url" size="20" class="form-control" placeholder=""><br>   

                <label for="description"> Date Submitted </label>
                <input type="text" id="date_submitted" name="date_submitted" size="20" class="form-control" placeholder=""><br>

                <label for="open_to_review"> Open to review? </label>
                <div class="radio">
                    <label>
                        <input type="radio" name="open_to_review" value=true>
                        Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="open_to_review" value=false>
                        No
                    </label>
                </div>
                <br />     
                <button type="submit" class="btn btn-default">Update</button>
                <a class="btn btn-default" href="/admin_applications/">Cancel</a>
            </form>
        </div>

	<br/><br/>
	<div id="completed-table"><h4 style="text-align:center">Application Reviews</h4><table class='table table-striped'></table></div>
        
    </body>
    <script type='text/javascript'>    
     
        function load_application() {
            var date_options = {
                year: "numeric", month: "short",
                day: "numeric", hour: "2-digit", minute: "2-digit"
            };
            var form=document.getElementById("apps");
                $.getJSON('<%= "/admin/load_application/" + app_id %>', function(application) {   $.each(application, function(name, val) {
                    switch(name) {
			case ("date_submitted"):
                            $("#" + name).val(new Date(val).toLocaleDateString("en-US", date_options));
			    break;
                        case ("open_to_review"):
                            var i = val ? 0 : 1;        
                            $('input[name=' + name + ']:nth(' + i + ')').attr('checked', true);
                            break;                                  
                        default:
                            $("#" + name).val(val);
                            break;
                    }
                });
            });
        };

        var load_questions = function() {
            $.getJSON( ' <%= "/get_questions/" + app_id %> ', function(data) {
                var table = document.getElementById("questionsTable");
                var string = JSON.stringify(data);
                var oTable = $(table).dataTable({
                    "data": data,  
                    "columns": [
                        { "data": "question_text" },
                        { "data": "votes" },
                        ], 
                    "order": [[ 1, "desc" ]]
                });  
            });
        }; 

        var load_completed_review = function() {
             $.getJSON('/review/completed/load/<%= app_id %>', function(reviews) {
                 $('#completed-table table').append("<tr>" + 
                     "<th>" + "Reviewer" + "</th>" +
                     "<th>" + "Clear Business Model" + "</th>" +
                     "<th>" + "Clear Social Impact" + "</th>" +
                     "<th>" + "Loan Well Structured" + "</th>" +
                     "<th>" + "Well Positioned to Repay the Loan" + "</th>" +
                     "<th>" + "Well Positioned to Communicate and Market Self" + "</th>" +
                     "<th>" + "Recommended Rating" + "</th>" +
                     "</tr>");
                  $.each(reviews, function(index, review) {
                     $.getJSON('/volunteer/load', function(reviewer) {
                       $('#completed-table table').append("<tr>" + 
                           "<td>" + reviewer.first_name + ' ' + reviewer.last_name + "</td>" +
                           "<td>" + review["clear_business_model"] + "</td>" +
                           "<td>" + review["clear_social_impact"] + "</td>" +
                           "<td>" + review["loan_well_structured"] + "</td>" +
                           "<td>" + review["well_positioned_to_repay"] + "</td>" +
                           "<td>" + review["well_positioned_to_communicate"] + "</td>" +
                           "<td>" + review["recommend_rating"] + "</td>" +
                           "</tr>"
                        );
                     });
                 }); 
             });
         }


        $( document ).ready(function() {
            $( "#click_for_questions" ).click(function() {
                $( "#questions" ).toggle( "slow", function() {
                // Animation complete.
                });
            });

            load_completed_review();
            load_application();
            load_questions();
        });

    </script>
</html>
