<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <title>Submit your application!</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script>
  $(function() {
      /*function log( message ) {
        $( "<div>" ).text( message ).prependTo( "#log" );
        $( "#log" ).scrollTop( 0 );
      }
      */
      $("#tags").autocomplete({
          source: function(request, response) {
              var results = []
              $.get('/search/' + request.term, function(data) {
                  console.log(data);
                  $.each(data.elements, function(index, item) {
                      var itemToAdd = {
                        value : item,
                        label : item,
                      } 
                      results.push(itemToAdd);
                    });               
              return response(results);
              });
          }
        });
    });

/*    window.onload = function() {
      $("#tags").keyup(function(e) {
          get_autoComplete($('#tags').val())
      });

      
    } 
    */

</script>

  </head>

  <body>

    <p>

      For all those hours you spent poring over your computer, late into the night: here's a chance to debut your hard work! The Penn Projects Archive is a new initiative Labs to host polished apps created by students. It's your chance to showcase what you've made and see what others have made before you!

      Interested in submitting your app to the archive? You've come to the right place! After you submit this form, we will decide to post your project based on the following guidelines:

      1) Is the application hosted somewhere online? (Will it stay hosted?)
      2) Is the application polished? (A few bugs are fine, but generally polish is appreciated!)
      3) Does the application function / do what it's supposed to do? Does it serve the Penn Community?
      4) Does the application misuse data / expose user information? 

      Thanks! We'll inform you once your app is posted!
    </p>

  <form action="/post" method="POST">
    <label for="app_name"> What's your app called? </label>
    <input type="text" name="app_name" size="20" class="form-control" placeholder=""><br>

    <label for="description"> Please write three sentences describing your application </label>
    <input type="text" name="description" size="80" class="form-control" placeholder=""><br>


    <label for="demo"> Where is this hosted (Link?) </label>
    <input type="url" name="demo" size="20" class="form-control" placeholder="ie. http://pennlabs.herokuapp.com"><br>


    <label for="location"> Where/When was this built? </label>
    <input type="text" name="location" size="20" class="form-control" placeholder="ie. PennApps S14"><br>

    <label for="technologies"> What technologies did you use to create your app? </label>
    <input type="text" name="technologies" size="20" class="form-control" placeholder="ie. Python/Flask"><br>

    <label for="builders"> Who built this? (Full Names?) </label>
    <input type="text" name="builders" size="80" class="form-control" placeholder="ie. Amy Gutmann, Alexey Komisaalala"><br>

    <label for="date"> Until when should this app stay up? </label>
    <input type="date" name="date" size="20" class="form-control" placeholder="ie. 2/24/15"><br>

    <label for="contact"> Who's the main contact for this?</label>
    <input type="email" name="contact" size="20" class="form-
    control" placeholder="me@ibuiltthis.com"><br>

    <label for="github_permis"> Are you willing to make the github public:</label>
    <input type="radio" name="github_permis" value="yes">Yes
    <input type="radio" name="github_permis" value="no">No<br>

    <label for="github"> Github link?</label>
    <input type="text" name="github" size="20" class="form-control" placeholder="me@ibuiltthis.com"><br>

    <label for="tags"> Tags</label>
    <input type="text" name="tags" size="20" id="tags" class="form-control" placeholder="tag"><br>

      <label for="personal"> Personal websites?</label>
    <input type="text" name="personal" size="40" class="form-control" placeholder="http://pennlabs.org, http://penn.com"><br>

    <input type="hidden" name="approved" size="40" class="form-control" value ="0" ><br>

    <input type="submit" />


  </form>
  </div>







  </body>




  </html>