<html>
<head>
	<style>
		body {
			font-family: arial;
			background-color: white
		}
		h1, h2, p {
			text-align: center;
			margin: 5;
			color: #587F3A;
		}
		a {
			background-color: #B1FF75;
			display: block;
			margin-bottom: 1%;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
			padding-left: 1%;
			padding: 1%;
			color: black;
			text-decoration: none;
			border-radius: 5px;
			z-index: -1;
		}
		a:visited {
			color: #3C8A0C;
		}
		a:hover {
			background-color: #B1DF75
		}
		button, .submit {
			background-color: #587F3A;
			color: white;
			width: 400px;
			padding: 2px;
			text-align: center;
			margin-right: auto;
			margin-left: auto;
			display: block;
			font-size: 100%;
		}
		.submit:hover {
			background-color: #58AF3A
		}
	</style>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<title>Kiva Investment Advisors - Training</title>
	<script>
		var content = [
			['Kiva Labs video overview (6 min)',
			'a fun overview video of the types of unique loans and partnerships that Kiva is rolling out',
			'https://www.youtube.com/watch?v=v2vetkuQivw'],
			['Training video (9 min)',
			'This short video walks through this application review pilot program in greater detail, with useful information on what we are hoping to accomplish and the criteria that we use in assessing our applications',
			'https://www.dropbox.com/s/9vmw2dpne9ba9um/Volunteer_training_vid.mp4'],
			['Kiva partnership guide',
			'this PDF covers how a partnership with Kiva works. It has much more detail on the steps of the process and outlines a few examples of partnerships. This will be very useful.',
			'https://docs.google.com/file/d/0B9-D1z_HW15veUp0MHNTZVBEUXY5bDhTVnVnQjRGVTdsb3NF/edit'],
			['Kiva loan visualization (4 min)',
			'a cool video that visualizes the loans that Kiva has been making around the world since its inception in 2005',
			'https://www.youtube.com/watch?v=n1V9jVtssfw'],
			['A copy of the slides from the first training video (PDF link)',
			'',
			'https://docs.google.com/file/d/0B9-D1z_HW15vQ2g0ZHFKZmNrX19NXzdLeEc5b1otdVZ5MDN3/edit']
		]

		$(document).ready(function() {
			for (c in content) {
				$('body').append($('<a>')
							.attr('href', content[c][2])
							.attr('target', '_blank')
							.append($('<div>')
								.attr('id', 'title'+c)
								.attr('class', 'block')
								.append($('<b>').text(content[c][0]))
								.append($('<div>')
									.attr('class', 'info')
									.text(content[c][1]))));
			}

			var submitText = 'I have carefully reviewed all the training material.';
			
			$('body').append($('<button>')
								.text(submitText)
								.click(function() {
									$('#quiz').css('visibility', '');
								}));
			$('#quiz').append($('<form>')
								.attr('id', 'submit')
								.append($('<input>')
									.attr('type', 'submit')
									.attr('value', "Submit")
									.attr('class', 'submit'))
								.submit(function(event){
									var ans1 = $('#ans1').val();
									var ans2 = $('#ans2').val();
									var ans3 = $('#ans3').val();
									var ans4 = $('#ans4').val();
									if (ans1 != 'red' || ans2 != '3' |
											ans3 !='hack' || ans4 !='hack') {
										alert('Sorry, one or more of your answers are incorrect. Make sure to review all the materials first.');
									}
									else {
										$('#submit').attr('action', 'finishedTraining')
												.attr('method', 'get').submit();
									}
								}));
			
		});
	</script>
</head>
<body>

<h1>Kiva Investment Advisors</h1>
<h2>Training Page</h2>
<p>Please review all the training material before proceeding.</p>
<div style="z-index:1; position:absolute; left:25%; display:block; height: 40%; width: 40%; background-color:#B1DF75; opacity:0.95; margin-top:3%; visibility:hidden;
border-style:solid; padding:5%"
id="quiz">
	Please answer these questions:
	<br>What is Penn's color that's not blue?<input id="ans1"></input>
	<br>How many wheels in tricycle?<input id="ans2"></input>
	<br>Write 'hack'<input id="ans3"></input>
	<br>Write 'hack'<input id="ans4"></input>
</div>
</body>

<html>