<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="/kiva_style.css" rel="stylesheet" type="text/css">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<style>
		h1, h2, p {
		text-align: center;
		margin: 5;
		color: green;
		}
	</style>
	<title>Training</title>
	</head>
	<body>
		<% include banner %>
		<h1>Kiva Advisors Training Page</h1>
		<div id="training">
			<div id="links">
				<% if (message) { %>
				<div class="alert alert-danger alert-dismissible fade in" style="width:50%;margin:auto;margin-bottom:10px;" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<span><%= message %></span>
				</div>
				<% } %>
				<a href="https://www.youtube.com/watch?v=v2vetkuQivw" target="_blank">
					<div><b>Kiva Labs video overview (6 min)</b>
						<div>a fun overview video of the types of unique loans and partnerships that Kiva is rolling out</div>
					</div>
				</a>
				<a href="https://www.dropbox.com/s/9vmw2dpne9ba9um/Volunteer_training_vid.mp4" target="_blank">
					<div><b>Training video (9 min)</b>
						<div>This short video walks through this application review pilot program in greater detail, with useful information on what we are hoping to accomplish and the criteria that we use in assessing our applications</div>
					</div>
				</a>
				<a href="https://docs.google.com/file/d/0B9-D1z_HW15veUp0MHNTZVBEUXY5bDhTVnVnQjRGVTdsb3NF/edit" target="_blank">
					<div><b>Kiva partnership guide</b>
						<div>this PDF covers how a partnership with Kiva works. It has much more detail on the steps of the process and outlines a few examples of partnerships. This will be very useful.</div>
					</div>
				</a>
				<a href="https://www.youtube.com/watch?v=n1V9jVtssfw" target="_blank">
					<div><b>Kiva loan visualization (4 min)</b>
						<div>a cool video that visualizes the loans that Kiva has been making around the world since its inception in 2005</div>
					</div>
				</a>
				<a href="https://docs.google.com/file/d/0B9-D1z_HW15vQ2g0ZHFKZmNrX19NXzdLeEc5b1otdVZ5MDN3/edit" target="_blank">
					<div><b>A copy of the slides from the first training video (PDF link)</b></div>
				</a>
				<button id="reviewed" class="btn btn-primary">I have carefully reviewed all the training material</button>
			</div>
			<form id="questions" action="/volunteer/finished-training" method="POST">
				<div class="form-group">
					What is Penn's color that's not blue?<input type="text" class="form-control" name="ans1" required></input>
				</div>
				<div class="form-group">
					How many wheels in tricycle?<input type="text" class="form-control" name="ans2" required></input>
				</div>
				<div class="form-group">
					Write 'hack'<input type="text" class="form-control" name="ans3" required></input>
				</div>
				<div class="form-group">
					Write 'hack'<input type="text" class="form-control" name="ans4" required></input>
				</div>
				<button id="check-answers" type="submit" class="btn btn-default">Submit</button>
				<button id="back" class="btn btn-default">Back</button>
			</form>
		</div>
		<% include footer %>
	</body>
	<script>
		$(document).ready(function() {
			$('#notifications-btn').hide();
			$('#home-btn').hide();
			$('#questions').hide();
			if (<%= finished_training %>) {
				$('#reviewed').hide();
			}
			$('#reviewed').click(function() {
				$('#questions').show();
				$('#links').hide();
			});	
			$('#back').click(function() {
				$('#questions').hide();
				$('#links').show();
			})
		});

	</script>

<html>