<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="/kiva_style.css" rel="stylesheet" type="text/css">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<style>
		h1, h2, p {
		text-align: center;
		margin: 5;
		color: green;
		}
	</style>
	<title>Training</title>
	</head>
	<body>
		<% include banner %> <br><br>

   <p align="center"><iframe src="https://docs.google.com/presentation/d/1aXODisXfIMZRox6uEUArfuBC-rG3t1YJ9DbcIh7zItQ/embed?start=false&loop=false&delayms=60000" frameborder="0" width="864" height="504" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></img>
  <!--  <img src="Flow.png" width="864" height="504" alt="dope pic"> -->
  <h1>See the beginning of Crowd Vetting!</h1>
  <p align="center"><object width="638" height="516"><param name="movie" value="http://swf.tubechop.com/tubechop.swf?vurl=v83bMtWCTXI&start=2607&end=2807&cid=8303722"></param><embed src="http://swf.tubechop.com/tubechop.swf?vurl=v83bMtWCTXI&start=2607&end=2807&cid=8303722" type="application/x-shockwave-flash" allowfullscreen="true" width="638" height="516"></embed></object>

    <h1>Slides and Video</h1><br/>
  <div>
      <p align="center"><iframe src="https://docs.google.com/presentation/d/1fX39f-lTNmMdXdoWMrtITbkZtpmQAWhNscSlfn8qgeI/embed?start=true&loop=true&delayms=3000" frameborder="no" width="864" height="504" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" align="center"></iframe>
    </div>
		<div id="training">
			<div id="links">
				<% if (message) { %>
				<div class="alert alert-danger alert-dismissible fade in" style="width:50%;margin:auto;margin-bottom:10px;" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<span><%= message %></span>
				</div>
				<% } %>

        <br> <br><br><br><br>
        </a>
				<button id="reviewed" class="btn btn-primary">I have carefully reviewed all the training material</button>
			</div>
			<form id="questions" action="/volunteer/finished-training" method="POST">
				<h5>Let's do a quick quiz to make sure you're up to speed on the basics. Good Luck!</h5><br/>
				<div class="form-group">
					Which size of enterprise does the direct to social enterprise program target?
					<select name="ans1" required class="form-control">
						<option value="micro enterprisess">micro organizations</option>
						<option value="small and medium sized enterprises">small and medium sized enterprises</option>
						<option value="large enterprises">large firms</option>
					</select>
				</div>
				<div class="form-group">
					Why do these enterprises specifically need Kiva capital?
					<select name="ans2" required class="form-control">
						<option value="Lack of enough capital from micro finance instiutions">Lack of enough capital from micro finance instiutions</option>
						<option value="Barriers to capital from traditional banks">Barriers to capital from traditional banks</option>
						<option value="Starved for working capital">Starved for working capital</option>
						<option value="All of the above">All of the above</option>
					</select>
				</div>
				<button id="check-answers" type="submit" class="btn btn-default">Submit</button>
				<a id="back" class="btn btn-default">Back</a>
			</form>
		</div>

    <div id="form">
      <h4>For background information on:</h4>
        <p>
          <b>-Kiva <br>
          -the "Missing Middle" space<br>
          -the DSE program</b><br>
          <a href="https://docs.google.com/document/d/1hxQIUjO4HbeN7rvEO-AqOE8Aq3w-qyh05hICG3qfe4Q/edit?usp=sharing">
            <i>visit this document</i></a></p>
    </div>

		<% include footer %>
	</body>
	<script>
		$(document).ready(function() {
			$('#questions').hide();
			$('#notifications-btn').hide();
			if (<%= finished_training %>) {
				$('#reviewed').hide();
			} else {
				$('#home-btn').hide();
			}
			$('#reviewed').click(function() {
				$('#questions').show();
				$('#links').hide();
			});
			$('#back').click(function() {
				$('#questions').hide();
				$('#links').show();
			})
		});

	</script>

<html>
