<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="/kiva_style.css" rel="stylesheet" type="text/css">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<style>
		h1, h2, p {
		text-align: center;
		margin: 5;
		color: green;
		}
	</style>
	<title>Training</title>
	</head>
	<body>
		<% include banner %>
		<h1>Kiva Advisors Training Page</h1>
		<div id="training">
			<div id="links">
				<% if (message) { %>
				<div class="alert alert-danger alert-dismissible fade in" style="width:50%;margin:auto;margin-bottom:10px;" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<span><%= message %></span>
				</div>
				<% } %>
				<a class="box" href="https://docs.google.com/document/d/1hxQIUjO4HbeN7rvEO-AqOE8Aq3w-qyh05hICG3qfe4Q" target="_blank">
					<div><b>Link to Training Materials</b>
						<div>Please Review</div>
					</div>
				</a>
				<a class="box" href="https://www.reddit.com/r/kivacrowdvetting" target="_blank">
					<div><b>Community Conversation on Reddit</b>
						<div>We would like to know the 3 most important questions the community would like to ask the applicant. After reviewing your first application, head to this Reddit page. Please post and vote.</div>
					</div>
				</a>
				<button id="reviewed" class="btn btn-primary">I have carefully reviewed all the training material</button>
			</div>
			<form id="questions" action="/volunteer/finished-training" method="POST">
				<div class="form-group">
					Where does Kiva get its money to lend?
					<select name="ans1" required class="form-control">
						<option value="banks">Banks</option>
						<option value="donors">Donors</option>
						<option value="crowdfunded">Crowdfunded</option>
					</select>
				</div>
				<div class="form-group">
					What is the maximum size of a DSE loan?
					<select name="ans2" required class="form-control">
						<option value="10">$10,000</option>
						<option value="20">$20,000</option>
						<option value="50">$50,000</option>
						<option value="100">$100,000</option>
					</select>
				</div>
				<button id="check-answers" type="submit" class="btn btn-default">Submit</button>
				<a id="back" class="btn btn-default">Back</a>
			</form>
		</div>
		<% include footer %>
	</body>
	<script>
		$(document).ready(function() {
			$('#questions').hide();
			$('#notifications-btn').hide();
			if (<%= finished_training %>) {
				$('#reviewed').hide();
			} else {
				$('#home-btn').hide();
			}
			$('#reviewed').click(function() {
				$('#questions').show();
				$('#links').hide();
			});	
			$('#back').click(function() {
				$('#questions').hide();
				$('#links').show();
			})
		});

	</script>

<html>
