<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       

        <link href="/kiva_style.css" rel="stylesheet" type="text/css">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <title>Become a Volunteer Today!</title>
        <script>
            $(document).ready(function() {
                var checked = false;
                // validate every field is completed
                $('#signup-submit').on('submit', function(event, elem){
                    if (!checked) {
                        event.preventDefault();
                        checked = true;
                        var field = true;
                        $('#signup-form input').each(function(i, e) {
                            console.log($(e).val());
                            if ($(e).attr('type')!='submit' && $(e).val() == '') {
                                $('#msg').css('display', '');
                                checked = false;
                                field = false;
                            }
                        });
                        if (field) $('#msg').css('display', 'none');
                        console.log("checkbox: " + $('#checkbox').prop("checked"));
                        if (!$('#checkbox').prop("checked")) {
                            $('#msg2').css('display', '');
                                checked = false;
                        } else {
                            $('#msg2').css('display', 'none');
                        }
                        console.log(checked);
                        if (checked) $('#signup-submit').submit();
                    }
                });
            });                
        </script>

    </head>

    <body>

    <% include banner %>

    <div id="signup-form">

        <form id="signup-submit" action="/volunteer/submit-volunteer" method="POST">
            <input type="text" name="first_name" size="20" class="form-control" placeholder="First Name"><br>

            <input type="text" name="last_name" size="20" class="form-control" placeholder="Last Name"><br>

            <input type="text" name="email_address" size="20" class="form-control" placeholder="Email Address"><br>

            <input type="password" name="password" size="20" class="form-control" placeholder="Password"><br>

            <input type="text" name="linked_in" size="20" class="form-control" placeholder="Linkedin Profile"><br>

            <input type="text" name="resume_link" size="20" class="form-control" placeholder="Link to Most Recent Resume"><br>

            <label for="why_kiva"> Why are you interested in becoming a volunteer for Kiva? </label>
            <input type="text" name="resume_link" size="100" class="form-control" placeholder="">

            <label for="what_skills"> What skills do you possess that make you a qualified reviewer? </label>
            <input type="text" name="what_skills" size="100" class="form-control" placeholder="">

            <div class="checkbox" style="margin-left:3px">
                <label>
                <input type="checkbox" id="checkbox"><b>I have already read and signed this <a href='https://secure.echosign.com/public/esign?aid=X4IJG3J7C2K6P4Q&eid=X4IKRJG854F2TXD&' target="_blank">volunteer agreement.</a></b>
                </label>
            </div>

            <div id="msg" style="display:none;color:red"><b>Please complete all fields.</b></div>

            <div id="msg2" style="display:none;color:red"><b>Make sure to sign the volunteer agreement.</b></div>

            <input type="submit" class="btn btn-primary">
        </form>
    </div>   
    
    <% include footer %>


    </body>

</html>