<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       

        <link href="/kiva_style.css" rel="stylesheet" type="text/css">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <title>Become a Volunteer Today!</title>
    </head>

    <body>

    <div id="wrapper">
    <% include banner %>

    <div id="content">
        <div id="signup-form">
            <form id="signup-submit" action="/volunteer/submit-volunteer" method="POST">
                <input type="text" name="first_name" size="20" class="form-control" placeholder="First Name" required><br>
                <input type="text" name="last_name" size="20" class="form-control" placeholder="Last Name" required><br>
                <% if (error) { %>
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span><%= error %></span>
                </div>
                <% } %>
                <div id="username-alert" class="alert alert-danger alert-dismissible fade in" style="display:none;" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span>This username has already been registered.</span>
                </div>
                <input type="text" name="username" size="20" class="form-control" placeholder="Username" required><br>
                <div id="email-alert" class="alert alert-danger alert-dismissible fade in" style="display:none;" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span>This email has already been registered.</span>
                </div>
                <input type="email" name="email_address" size="20" class="form-control" placeholder="Email Address" required><br>
                <input type="password" name="password" size="20" class="form-control" placeholder="Password" required><br>
                <input type="url" name="linked_in" size="20" class="form-control" placeholder="Linkedin Profile" required><br>
                
                <label for="why_kiva"> Why are you interested in becoming a volunteer for Kiva? </label>
                <textarea name="why_kiva" size="3000" class="form-control" placeholder="" required></textarea>

                <label for="what_skills"> What skills do you possess that make you a qualified reviewer? </label>
                <textarea name="what_skills" size="100" class="form-control" placeholder="" required></textarea>

                <div class="checkbox" style="margin-left:3px">
                    <label>
                        <input type="checkbox" id="checkbox" onclick="checkboxCheck();"><b>I have already read and signed this <a href='https://secure.echosign.com/public/esign?aid=X4IJG3J7C2K6P4Q&eid=X4IKRJG854F2TXD&' target="_blank">volunteer agreement.</a></b>
                    </label>
                </div>
                <input type="submit" id="submit-button" class="btn btn-primary" disabled>
            </form>
        </div><br><br>
    </div>   
    <% include footer %>
    </div>
    </body>
    <script>
        function checkboxCheck() {
            if($('#checkbox').is(":checked")) {
                $('#submit-button').removeAttr('disabled');
            } else {
                $('#submit-button').attr('disabled', 'disabled');
            }
        } 
        $(document).ready(function() {
            $('.banner-btn').hide();  
            $('#signup-submit').submit(function(e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/volunteer/check_email_username",
                    data: {username: $('[name=username]').val(), email: $('[name=email_address]').val()},
                    success: function(data) {
                        switch (data) {
                            case "neither": 
                                $('form').unbind('submit').submit();
                                break;
                            case "email":
                                $('#email-alert').show();
                                $('#username-alert').hide();
                                break;
                            case "username": 
                                $('#email-alert').hide();
                                $('#username-alert').show();
                                break;
                            case "both": 
                                $('#email-alert').show();
                                $('#username-alert').show();
                                break;
                        }
                    }
                });
            });
        });
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>
